{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
	<title>Bistro</title>
       <link rel = "icon" href =  
"https://image.flaticon.com/icons/svg/45/45332.svg" 
        type = "image/x-icon"> 
 
</head>
<body background="{% static 'images/KC/1.jpg' %}" height="400" width="400" alt="image not found" >

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
	<nav class="navbar navbar-expand-lg navbar-light bg-dark style=" height="10">
    <div class ="container">
  <a class="navbar-brand"  href="{% url 'home' %}"><font color ="white">Bistro</font></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"><font color ="white">Home</font><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Aboutus' %}"><font color ="white">About us</font></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
         <font color ="white">My Account</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'MyOrders' %}">My Orders</a>
          <a class="dropdown-item" href="{% url 'Myprofile' %}">My profile</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
    <form class="form-inline " action="{% url 'Login' %}">
      <button class= "btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
    </form>
    <form class="form-inline " action="{% url 'SignUp' %}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
    </form>
  </div>
  </div>
</nav>
<img src="logo.png">

  {% block content %}
  {% endblock %}
	
	</body>
</html>